extends ../layouts/page.pug

block content
  .row.justify-content-center
    .col-12.col-md-10.col-xxl-8
      .card.mt-5.shadow.p-3.mb-5.bg-body-tertiary.border.border-success-subtle.rounded
        .card-body
          h4.card-title.font-monospace #{course.title}
          div.p-3.my-3.bg-success-subtle.text-success-emphasis.rounded
            p.card-text.font-monospace #{course.description}
          .d-flex.flex-wrap.align-items-center.justify-content-between
            if error
              p= error
            .d-flex.flex-wrap.gap-2.align-items-center
              a.card-link.link-secondary.link-offset-2.link-underline-opacity-10.link-underline-opacity-100-hover.mx-0.font-monospace(href=route('courses')) Previous
              a.card-link.link-secondary.link-offset-2.link-underline-opacity-10.link-underline-opacity-100-hover.mx-0.font-monospace(href=route('editCourse', { id: course.id })) Edit
            form(action=route('deleteCourse', { id: course.id }), method="post")
              input(name="_method" type="hidden" value="DELETE")
              input(type='submit', value="Delete", class="btn btn-outline-secondary")
