extends ../layouts/page.pug

block content
  .row.justify-content-center
    .col-12.col-md-10.col-xxl-8
      .card.mt-5.shadow.p-3.mb-5.bg-body-tertiary.border.border-success-subtle.rounded
        .card-body
          h4.card-title.font-monospace #{course.title}
          div.p-3.my-3.bg-success-subtle.text-success-emphasis.rounded
            p.card-text.font-monospace #{course.description}
          .d-flex.flex-wrap.align-items-center.justify-content-between
            if error
              p error
            .d-flex.flex-wrap.gap-2.align-items-center
              a.card-link.link-secondary.link-offset-2.link-underline-opacity-10.link-underline-opacity-100-hover.mx-0.font-monospace(href=route('courses')) Previous
              a.card-link.link-secondary.link-offset-2.link-underline-opacity-10.link-underline-opacity-100-hover.mx-0.font-monospace(href=route('editCourse', { id: course.id })) Edit
            form(action=route('deleteCourse', { id: course.id }), method="post")
              input(name="_method" type="hidden" value="DELETE")
              input(type='submit', value="Delete", class="btn btn-outline-secondary")
                  //- svg.bi.bi-trash3(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
                  //-   path(d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5")
