extends ../layouts/page.pug

block header
  h2.my-3.font-monospace All users
  a.btn.btn-sm.btn-outline-success(href=route('newUser'))
    .d-flex.align-items-center
      svg.bi.bi-person-fill-add(xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16")
        path(d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0")
        path(d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4")
        span.ms-2 Add new user
block content
  form(action=route('users') method='get').my-5
    .row
      .col-12.col-md
        .mb-3
          label.form-label(for= 'filterTitle') Имя пользователя
          input.form-control(id= 'filterTitle' name= 'term' value= term)
        input(class='btn btn-success' type='submit' value= 'Поиск')
        .table-responsive
          table.table.table-hover.table-striped.my-5.shadow-sm.p-3.mb-5.bg-body-tertiary.rounded
            tr
              th Id
              th Name
              th Email
              th Action
            if !users.length
              p Ничего не найдено
            each user in users
              tr
                td
                  a.link-info.link-underline-opacity-0.link-underline-opacity-100-hover.link-dark.text-align-center(href=route('user', { id: user.id }))= user.id
                td
                  a.link-info.link-underline-opacity-0.link-underline-opacity-100-hover.link-dark(href=route('user', { id: user.id }))= user.name
                td
                  a.link-info.link-underline-opacity-0.link-underline-opacity-100-hover.link-dark(href=route('user', { id: user.id }))= user.email
                td
                  .d-flex.align-itens-center
                    a.btn.btn-outline-success.py-0.me-1(href=route('editUser', { id: user.id }), style="height: 26px")
                      svg.bi.bi-pen.my-1(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
                        path(d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z")
                    form(action=route('deleteUser', { id: user.id }), method="post")
                      input(name="_method" type="hidden" value="DELETE")
                      input.py-0(type='submit', value="X", class="btn btn-outline-danger", style="width: 42px")

